In [1]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('all-MiniLM-L6-v2')
titles = ["Example Title 1"]
embeddings = model.encode(titles)
print(embeddings)

c:\Users\Moakher\miniconda3\envs\bandits\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Downloading .gitattributes: 100%|██████████| 1.23k/1.23k [00:00<00:00, 308kB/s]
Downloading 1_Pooling/config.json: 100%|██████████| 190/190 [00:00<00:00, 54.9kB/s]
Downloading README.md: 100%|██████████| 10.7k/10.7k [00:00<00:00, 1.93MB/s]
Downloading config.json: 100%|██████████| 612/612 [00:00<00:00, 123kB/s]
Downloading (…)ce_transformers.json: 100%|██████████| 116/116 [00:00<00:00, 38.8kB/s]
Downloading data_config.json: 100%|██████████| 39.3k/39.3k [00:00<00:00, 9.85MB/s]
Downloading model.safetensors: 100%|██████████| 90.9M/90.9M [00:00<00:00, 111MB/s]
Downloading model.onnx: 100%|██████████| 90.4M/90.4M [00:00<00:00, 115MB/s]
Downloading model_O1.onnx: 100%|██████████| 90.4M/90.4M [00:01<00:00, 70.2MB/s]
Downloading model_O2.onnx: 100%|██████████| 90.3M/90.3M [00:00<00:00, 93.2MB/s]
Downloading model_O3.onnx: 100%|██████████| 90.3M/90.3M [00:00<00:00, 103MB/s]
Downloading model_O4.onnx: 100%|██████████| 45.2M/45.2M [00:00<00:00, 109MB/s]
Downloading model_qint8_arm64.onnx: 100%|██████████| 23.0M/23.0M [00:00<00:00, 110MB/s]
Downloading (…)el_qint8_avx512.onnx: 100%|██████████| 23.0M/23.0M [00:00<00:00, 114MB/s]
Downloading (…)nt8_avx512_vnni.onnx: 100%|██████████| 23.0M/23.0M [00:00<00:00, 113MB/s]
Downloading model_quint8_avx2.onnx: 100%|██████████| 23.0M/23.0M [00:00<00:00, 97.1MB/s]
Downloading openvino_model.bin: 100%|██████████| 90.3M/90.3M [00:00<00:00, 112MB/s]
Downloading (…)o/openvino_model.xml: 100%|██████████| 211k/211k [00:00<00:00, 49.9MB/s]
Downloading pytorch_model.bin: 100%|██████████| 90.9M/90.9M [00:00<00:00, 112MB/s]
Downloading (…)nce_bert_config.json: 100%|██████████| 53.0/53.0 [00:00<00:00, 15.1kB/s]
Downloading (…)cial_tokens_map.json: 100%|██████████| 112/112 [00:00<00:00, 22.5kB/s]
Downloading tokenizer.json: 100%|██████████| 466k/466k [00:00<00:00, 5.54MB/s]
Downloading tokenizer_config.json: 100%|██████████| 350/350 [00:00<00:00, 105kB/s]
Downloading train_script.py: 100%|██████████| 13.2k/13.2k [00:00<00:00, 3.70MB/s]
Downloading vocab.txt: 100%|██████████| 232k/232k [00:00<00:00, 46.4MB/s]
Downloading modules.json: 100%|██████████| 349/349 [00:00<00:00, 117kB/s]

[[-4.73899990e-02  5.39719425e-02  3.80521864e-02  6.03050226e-03
  -1.85285527e-02 -3.61399865e-03  7.35031590e-02 -8.90248176e-03
  -2.66769957e-02 -2.87382677e-02  4.71404716e-02 -1.22095793e-02
   7.87878484e-02 -4.68902551e-02 -3.25690098e-02 -1.22788260e-02
   5.02949441e-03  3.33693018e-03 -6.69629946e-02  6.08901354e-03
   5.65689504e-02 -1.30492914e-03 -2.84693893e-02  1.95398238e-02
  -2.37160325e-02 -1.84195302e-02 -1.82882491e-02  1.02971487e-01
   5.70856147e-02 -1.39829144e-01 -7.00950436e-03  2.44130716e-02
   7.80221447e-02  6.22306056e-02 -6.37718430e-03  1.41536202e-02
  -9.53292940e-03  1.02607504e-01 -5.43409921e-02  2.32160985e-02
   1.04087675e-02 -7.38454834e-02  9.05199815e-03 -3.80008854e-02
   8.12619254e-02 -6.42539486e-02  8.71224049e-03 -2.58770976e-02
  -2.13234108e-02 -9.21975225e-02 -9.48940441e-02 -6.25305474e-02
  -1.23303056e-01  6.59797639e-02  3.83283123e-02 -1.52241264e-03
  -4.53076698e-02  5.32889739e-02  1.55567974e-02 -2.61805928e-03
   5.76178692e-02  1.36650335e-02 -7.51622394e-02 -8.66143405e-03
   1.47585794e-01 -5.74991517e-02  3.80918197e-03  5.50065152e-02
  -7.56254792e-02  9.40867290e-02 -4.31447141e-02  4.37080488e-02
  -4.02364619e-02  3.01042814e-02 -7.88851082e-02 -4.50652540e-02
  -4.69969027e-02  3.79040390e-02 -2.04827841e-02 -7.98120797e-02
  -8.73187482e-02 -7.62083381e-02 -2.48257574e-02  3.39537230e-03
  -2.65722144e-02  6.99958876e-02 -2.51337606e-02 -3.40136662e-02
  -4.64744382e-02 -2.16589216e-02  7.19878031e-03 -7.45567605e-02
   1.22091897e-01  5.10600694e-02 -3.02642602e-02  2.49773730e-02
  -2.36128233e-02 -7.71791115e-02  3.54055315e-02  1.71849161e-01
  -2.01800256e-03  4.74003740e-02  1.30080767e-02  3.17810252e-02
   3.18103470e-02 -1.28232175e-02  1.38346525e-02 -4.34600301e-02
  -2.06952281e-02 -2.41145268e-02 -3.60065326e-02  2.38710782e-03
  -9.15135890e-02 -5.05448766e-02  3.01804463e-03 -5.79443201e-02
   5.08181714e-02  3.72878835e-02  1.61941610e-02 -2.36102100e-02
   6.61631003e-02  1.26144271e-02  8.20643269e-03  1.37105165e-02
  -8.65028054e-02 -4.38803621e-02  3.85911390e-02 -1.02579469e-33
   2.69794427e-02 -7.18391016e-02 -3.23627144e-02  7.76167363e-02
   1.07901864e-01 -3.26423682e-02 -4.69797663e-02  4.70667519e-02
   1.50334425e-02  5.61485961e-02  4.97578122e-02 -1.60132367e-02
  -2.85855457e-02 -2.09275465e-02 -2.94135250e-02 -2.00855806e-02
   1.53089911e-02  1.39564410e-01 -4.31880578e-02 -3.87759972e-03
   1.17125176e-02  1.11981645e-01  2.12375633e-02 -1.93066895e-02
   3.32290009e-02  1.42878890e-02  3.53479991e-03 -5.21806143e-02
   4.74210009e-02  9.81040951e-03  6.95521990e-03 -3.83923873e-02
  -6.17879070e-02 -1.16243102e-02  2.95290481e-02  8.64138901e-02
   4.44884636e-02 -7.16795698e-02  1.80082340e-02 -7.14212880e-02
  -3.99626270e-02 -2.06623590e-04 -2.31849141e-02 -3.37578473e-03
   8.10159221e-02  9.74950101e-03 -1.95039660e-02  6.47602677e-02
  -4.94101085e-03  4.96503860e-02 -2.20559328e-03  7.19464272e-02
  -1.75048895e-02 -3.71613242e-02  5.57819158e-02  7.21878186e-03
   9.99402814e-03  4.96464223e-02 -3.94186378e-02  1.08973281e-02
  -9.18985903e-03  4.88773026e-02 -5.61101064e-02  4.11816984e-02
  -3.14399935e-02  4.38635871e-02 -9.43254214e-03 -1.11616798e-01
   3.84917334e-02  7.13896006e-03 -7.57884532e-02  1.47669073e-02
  -7.01688156e-02 -2.09038202e-02  1.03381705e-02 -1.01631097e-02
  -6.41432330e-02 -4.47508022e-02 -7.58532733e-02 -4.76581044e-02
  -4.33646366e-02 -2.90151555e-02  4.29267716e-03  5.54737970e-02
  -6.72316253e-02  2.14050692e-02  7.69400820e-02 -7.81794861e-02
   4.31127362e-02 -6.10324442e-02 -4.85972017e-02  1.45615423e-02
  -3.67940366e-02  1.33450481e-03 -4.40233480e-03  3.80696702e-34
   1.93651095e-02  2.16565058e-02 -1.07936338e-01 -6.89411443e-03
   5.36774732e-02  2.13007741e-02  3.34012397e-02  2.83717853e-03
   6.97750226e-03 -1.44759119e-02 -6.01815544e-02 -2.30322964e-02
  -1.07924631e-02 -5.96736930e-03 -4.99198325e-02 -1.08594462e-01
   7.93407634e-02 -5.30246943e-02 -6.23509698e-02  6.95275590e-02
  -7.56885633e-02  1.05854139e-01 -1.06582604e-01  3.57329194e-03
   1.05345575e-02  6.98983744e-02 -1.89116932e-02  3.57776247e-02
   7.82196224e-03 -3.41895148e-02  2.86663827e-02 -9.34251677e-03
  -2.60156603e-03  6.02012090e-02 -6.00995049e-02  5.72342016e-02
   6.79412782e-02 -7.16936663e-02  2.65832301e-02  5.51965162e-02
   6.04313761e-02 -1.94241311e-02  1.13688476e-01  3.21321487e-02
   6.30167173e-03 -4.41970564e-02 -1.38581637e-02  5.72292600e-03
   1.38369733e-02  5.14861159e-02 -1.04652710e-01 -1.44955162e-02
  -1.03415608e-01  1.96948666e-02 -2.13212008e-03 -1.16935773e-02
   3.98507528e-02  5.95354417e-04 -2.88787466e-02  1.39114317e-02
  -1.38096523e-03  7.83698168e-03 -8.48192498e-02  5.88265806e-02
  -3.17907929e-02 -6.65980950e-02 -6.37734085e-02 -5.66411801e-02
  -5.08015323e-03 -4.01974358e-02 -3.65059189e-02 -3.82577069e-02
  -6.60444424e-02 -5.87317199e-02 -7.97955506e-03  8.16404372e-02
   3.64017487e-02 -1.42158782e-02 -4.81000245e-02 -7.55187422e-02
  -3.59466039e-02 -1.86186377e-02 -1.85773452e-03  9.96379554e-02
   2.20006518e-03  7.36242682e-02  9.72545221e-02 -3.06641292e-02
   6.61219060e-02  1.77889504e-03  5.49011305e-02  3.48973684e-02
   6.44530356e-02  6.20192327e-02  9.85056255e-03 -1.74756885e-08
  -4.79043573e-02  4.98151816e-02  8.52319151e-02  3.54470722e-02
   3.59884389e-02  5.76403886e-02  4.72551072e-03 -2.20730398e-02
   6.70262892e-03  6.16758037e-03 -6.46823570e-02  5.87775819e-02
   8.72121472e-03 -2.35080849e-02  3.50671411e-02  2.33201422e-02
  -2.99614705e-02  2.01828498e-03 -2.48272438e-02 -2.61200536e-02
  -6.11476460e-03  4.17283140e-02 -1.69491842e-02 -8.48232880e-02
  -4.32687700e-02  3.86780165e-02 -5.55426665e-02  5.86547330e-02
   3.35394521e-03  5.48846312e-02  6.84508234e-02  1.30909503e-01
  -1.76630504e-02  1.33739365e-02  8.93366039e-02  3.33245993e-02
   2.06488110e-02  6.37309924e-02  2.88711442e-03 -1.57687515e-02
   3.69353779e-02  2.18105526e-03 -3.10530793e-02  2.65935138e-02
   8.00528601e-02  4.53506075e-02 -3.10280342e-02 -8.56679976e-02
  -3.88133973e-02 -3.56831923e-02 -2.06751283e-02 -3.19473557e-02
   1.55542493e-02  2.27650981e-02  6.60681818e-03  1.30322114e-01
   6.89289421e-02  2.46591261e-03 -2.97608599e-02  5.31119113e-05
   8.85212272e-02  8.95554870e-02 -1.53942415e-02  3.88529412e-02]]

In [16]:
import pandas as pd

# Initialize lists to store data
data = {'MovieID': [], 'UserID': [], 'Rating': [], 'Date': []}

# Open the file and parse it
with open('./archive/combined_data_1.txt', 'r') as file:
    movie_id = None
    for line in file:
        if ':' in line:
            movie_id = line.split(':')[0]
        else:
            user_id, rating, date = line.split(',')
            data['MovieID'].append(movie_id)
            data['UserID'].append(user_id)
            data['Rating'].append(rating)
            data['Date'].append(date.strip())

# Convert to DataFrame
df = pd.DataFrame(data)

In [20]:
df.head()

  MovieID   UserID Rating        Date
0       1  1488844      3  2005-09-06
1       1   822109      5  2005-05-13
2       1   885013      4  2005-10-19
3       1    30878      4  2005-12-26
4       1   823519      3  2004-05-03

In [29]:
movies = pd.read_csv('./archive/movie_titles.csv', header=None, names=['MovieID', 'Year', 'Title'], encoding='ISO-8859-1')

In [33]:
df["MovieID"] = df["MovieID"].astype(int)
df["UserID"] = df["UserID"].astype(int)
df["Rating"] = df["Rating"].astype(int)
df["Date"] = pd.to_datetime(df["Date"])

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24053764 entries, 0 to 24053763
Data columns (total 4 columns):
 #   Column   Dtype
---  ------   -----
 0   MovieID  int32
 1   UserID   int32
 2   Rating   int32
 3   Date     datetime64[ns]
dtypes: datetime64[ns](1), int32(3)
memory usage: 458.8 MB

In [31]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17770 entries, 0 to 17769
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   MovieID  17770 non-null  int64
 1   Year     17763 non-null  float64
 2   Title    17770 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 416.6+ KB

In [53]:
merged_df = pd.merge(df, movies, on='MovieID', how='left')

In [54]:
merged_df = merged_df.dropna()

In [55]:
merged_df["Year"] = merged_df["Year"].astype(int)

In [56]:
merged_df.head()

   MovieID   UserID  Rating       Date  Year            Title
0        1  1488844       3 2005-09-06  2003  Dinosaur Planet
1        1   822109       5 2005-05-13  2003  Dinosaur Planet
2        1   885013       4 2005-10-19  2003  Dinosaur Planet
3        1    30878       4 2005-12-26  2003  Dinosaur Planet
4        1   823519       3 2004-05-03  2003  Dinosaur Planet

In [57]:
merged_df = merged_df.drop(columns=['MovieID'])

In [58]:
merged_df.head()

    UserID  Rating       Date  Year            Title
0  1488844       3 2005-09-06  2003  Dinosaur Planet
1   822109       5 2005-05-13  2003  Dinosaur Planet
2   885013       4 2005-10-19  2003  Dinosaur Planet
3    30878       4 2005-12-26  2003  Dinosaur Planet
4   823519       3 2004-05-03  2003  Dinosaur Planet

In [59]:
merged_df = merged_df.sort_values(by='UserID')

In [60]:
merged_df = merged_df.head(10000)

In [62]:
merged_df.to_csv('data_without_embeddings.csv', index=False)

In [64]:
merged_df

          UserID  Rating       Date  Year                     Title
16820592       6       3 2005-12-04  1990              The Grifters
2547216        6       3 2005-11-25  2003   The Matrix: Revolutions
9273482        6       3 2005-03-18  1968           Rosemary's Baby
19879789       6       2 2004-09-27  1973                 The Sting
2461952        6       5 2004-09-15  2004         Kill Bill: Vol. 2
...          ...     ...        ...   ...                       ...
2826451     1333       4 2004-04-27  2001           Monsoon Wedding
2799162     1333       3 2005-04-28  1975  Three Days of the Condor
23366006    1333       3 2005-08-17  2001           To End All Wars
4595692     1333       4 2005-08-13  1975               Dersu Uzala
2315560     1333       4 2004-03-03  2002        Rabbit-Proof Fence

[10000 rows x 5 columns]

In [65]:
titles = merged_df['Title'].tolist()
title_embeddings = model.encode(titles)

In [72]:
import numpy as np

np.save('title_embeddings.npy', title_embeddings)

In [18]:
embeddings = np.load('../data/title_embeddings.npy')

In [20]:
df["embeddings"] =embeddings.tolist()

In [24]:
df["Year"] = (df["Year"]-1890)/115

In [25]:
df

,UserID,Rating,Date,Year,Title,embeddings
0,6,3,2005-12-04,0.869565,The Grifters,"[-0.01786697283387184, -0.01342509500682354, -..."
1,6,3,2005-11-25,0.982609,The Matrix: Revolutions,"[-0.049498967826366425, 0.01951014995574951, -..."
2,6,3,2005-03-18,0.678261,Rosemary's Baby,"[-0.06936520338058472, -0.09750981628894806, -..."
3,6,2,2004-09-27,0.721739,The Sting,"[-0.08671136200428009, 0.08106035739183426, -0..."
4,6,5,2004-09-15,0.991304,Kill Bill: Vol. 2,"[-0.03953291103243828, 0.06410317867994308, 0...."
...,...,...,...,...,...,...
9995,1333,4,2004-04-27,0.965217,Monsoon Wedding,"[-0.04642137885093689, 0.0529964342713356, 0.0..."
9996,1333,3,2005-04-28,0.739130,Three Days of the Condor,"[-0.02189064212143421, 0.06794727593660355, -0..."
9997,1333,3,2005-08-17,0.965217,To End All Wars,"[-0.05069609731435776, 0.08892416954040527, 0...."
9998,1333,4,2005-08-13,0.739130,Dersu Uzala,"[-0.04857492074370384, 0.09502632170915604, -0..."
9999,1333,4,2004-03-03,0.973913,Rabbit-Proof Fence,"[0.06336301565170288, 0.07183008641004562, 0.0..."

In [26]:
def concatenate_features(row):
    return np.concatenate(([row['Year']], row['embeddings']))
df['combined'] = df.apply(concatenate_features, axis=1)

In [29]:
df

,UserID,Rating,Date,Year,Title,embeddings,combined
0,6,3,2005-12-04,0.869565,The Grifters,"[-0.01786697283387184, -0.01342509500682354, -...","[0.8695652173913043, -0.01786697283387184, -0...."
1,6,3,2005-11-25,0.982609,The Matrix: Revolutions,"[-0.049498967826366425, 0.01951014995574951, -...","[0.9826086956521739, -0.049498967826366425, 0...."
2,6,3,2005-03-18,0.678261,Rosemary's Baby,"[-0.06936520338058472, -0.09750981628894806, -...","[0.6782608695652174, -0.06936520338058472, -0...."
3,6,2,2004-09-27,0.721739,The Sting,"[-0.08671136200428009, 0.08106035739183426, -0...","[0.7217391304347827, -0.08671136200428009, 0.0..."
4,6,5,2004-09-15,0.991304,Kill Bill: Vol. 2,"[-0.03953291103243828, 0.06410317867994308, 0....","[0.991304347826087, -0.03953291103243828, 0.06..."
...,...,...,...,...,...,...,...
9995,1333,4,2004-04-27,0.965217,Monsoon Wedding,"[-0.04642137885093689, 0.0529964342713356, 0.0...","[0.9652173913043478, -0.04642137885093689, 0.0..."
9996,1333,3,2005-04-28,0.739130,Three Days of the Condor,"[-0.02189064212143421, 0.06794727593660355, -0...","[0.7391304347826086, -0.02189064212143421, 0.0..."
9997,1333,3,2005-08-17,0.965217,To End All Wars,"[-0.05069609731435776, 0.08892416954040527, 0....","[0.9652173913043478, -0.05069609731435776, 0.0..."
9998,1333,4,2005-08-13,0.739130,Dersu Uzala,"[-0.04857492074370384, 0.09502632170915604, -0...","[0.7391304347826086, -0.04857492074370384, 0.0..."
9999,1333,4,2004-03-03,0.973913,Rabbit-Proof Fence,"[0.06336301565170288, 0.07183008641004562, 0.0...","[0.9739130434782609, 0.06336301565170288, 0.07..."

In [2]:
import pandas as pd

df = pd.read_csv('../data/data_without_embeddings.csv')

In [30]:
df

,UserID,Rating,Date,Year,Title,embeddings,combined
0,6,3,2005-12-04,0.869565,The Grifters,"[-0.01786697283387184, -0.01342509500682354, -...","[0.8695652173913043, -0.01786697283387184, -0...."
1,6,3,2005-11-25,0.982609,The Matrix: Revolutions,"[-0.049498967826366425, 0.01951014995574951, -...","[0.9826086956521739, -0.049498967826366425, 0...."
2,6,3,2005-03-18,0.678261,Rosemary's Baby,"[-0.06936520338058472, -0.09750981628894806, -...","[0.6782608695652174, -0.06936520338058472, -0...."
3,6,2,2004-09-27,0.721739,The Sting,"[-0.08671136200428009, 0.08106035739183426, -0...","[0.7217391304347827, -0.08671136200428009, 0.0..."
4,6,5,2004-09-15,0.991304,Kill Bill: Vol. 2,"[-0.03953291103243828, 0.06410317867994308, 0....","[0.991304347826087, -0.03953291103243828, 0.06..."
...,...,...,...,...,...,...,...
9995,1333,4,2004-04-27,0.965217,Monsoon Wedding,"[-0.04642137885093689, 0.0529964342713356, 0.0...","[0.9652173913043478, -0.04642137885093689, 0.0..."
9996,1333,3,2005-04-28,0.739130,Three Days of the Condor,"[-0.02189064212143421, 0.06794727593660355, -0...","[0.7391304347826086, -0.02189064212143421, 0.0..."
9997,1333,3,2005-08-17,0.965217,To End All Wars,"[-0.05069609731435776, 0.08892416954040527, 0....","[0.9652173913043478, -0.05069609731435776, 0.0..."
9998,1333,4,2005-08-13,0.739130,Dersu Uzala,"[-0.04857492074370384, 0.09502632170915604, -0...","[0.7391304347826086, -0.04857492074370384, 0.0..."
9999,1333,4,2004-03-03,0.973913,Rabbit-Proof Fence,"[0.06336301565170288, 0.07183008641004562, 0.0...","[0.9739130434782609, 0.06336301565170288, 0.07..."

In [31]:
grouped = df.groupby('UserID')

In [40]:
df

,UserID,Rating,Date,Year,Title,embeddings,combined
0,6,3,2005-12-04,0.869565,The Grifters,"[-0.01786697283387184, -0.01342509500682354, -...","[0.8695652173913043, -0.01786697283387184, -0...."
1,6,3,2005-11-25,0.982609,The Matrix: Revolutions,"[-0.049498967826366425, 0.01951014995574951, -...","[0.9826086956521739, -0.049498967826366425, 0...."
2,6,3,2005-03-18,0.678261,Rosemary's Baby,"[-0.06936520338058472, -0.09750981628894806, -...","[0.6782608695652174, -0.06936520338058472, -0...."
3,6,2,2004-09-27,0.721739,The Sting,"[-0.08671136200428009, 0.08106035739183426, -0...","[0.7217391304347827, -0.08671136200428009, 0.0..."
4,6,5,2004-09-15,0.991304,Kill Bill: Vol. 2,"[-0.03953291103243828, 0.06410317867994308, 0....","[0.991304347826087, -0.03953291103243828, 0.06..."
...,...,...,...,...,...,...,...
9995,1333,4,2004-04-27,0.965217,Monsoon Wedding,"[-0.04642137885093689, 0.0529964342713356, 0.0...","[0.9652173913043478, -0.04642137885093689, 0.0..."
9996,1333,3,2005-04-28,0.739130,Three Days of the Condor,"[-0.02189064212143421, 0.06794727593660355, -0...","[0.7391304347826086, -0.02189064212143421, 0.0..."
9997,1333,3,2005-08-17,0.965217,To End All Wars,"[-0.05069609731435776, 0.08892416954040527, 0....","[0.9652173913043478, -0.05069609731435776, 0.0..."
9998,1333,4,2005-08-13,0.739130,Dersu Uzala,"[-0.04857492074370384, 0.09502632170915604, -0...","[0.7391304347826086, -0.04857492074370384, 0.0..."
9999,1333,4,2004-03-03,0.973913,Rabbit-Proof Fence,"[0.06336301565170288, 0.07183008641004562, 0.0...","[0.9739130434782609, 0.06336301565170288, 0.07..."

In [41]:
import numpy as np

T = len(grouped)
n = grouped.size().max()
d = len(df['combined'].iloc[0])

X = np.zeros((T, n, d))  # Shape: (T, n, d)
Y = np.zeros((T, n))  

for i, (user_id, user_data) in enumerate(grouped):
    features = np.stack(user_data['combined'].values)  # Shape: (num_rows_user, d)
    labels = user_data['Rating'].values                # Shape: (num_rows_user,)
    
    num_rows_user = len(features)
    
    # Insert the data into X and Y, padding as necessary
    X[i, :num_rows_user, :] = features
    Y[i, :num_rows_user] = labels

In [53]:
Y.shape

(229, 645)

In [52]:
np.save('../data/X.npy', X)
np.save('../data/Y.npy', Y)